:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  padding: 2rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: crimson;
    transition: all 0.3s ease-in-out;
    color: white;
  }
}
